<h1 mat-dialog-title>
  {{ data.id === '' ? 'Create User' : 'Edit User' }}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" type="email" [(ngModel)]="data.email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Birth Year" [(ngModel)]="data.birthYear" />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>
    {{ data.id === '' ? 'Create' : 'Update' }}
  </button>
</div>
