<div class="container">
  <div class="col">
    <mat-card>
      <div class="box">
        <span class="box-icon bg-primary">
          <mat-icon aria-hidden="false" aria-label="Settings"
            >important_devices
          </mat-icon>
        </span>
        <div class="box-content">
          <div class="box-text">Traffic</div>
          <div class="box-number">90<small>%</small></div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="col">
    <mat-card>
      <div class="box">
        <span class="box-icon bg-accent">
          <mat-icon aria-hidden="false" aria-label="Settings"
            >supervisor_account</mat-icon
          >
        </span>
        <div class="box-content">
          <div class="box-text">New members</div>
          <div class="box-number">2019</div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="col">
    <mat-card>
      <div class="box">
        <span class="box-icon bg-warn">
          <mat-icon aria-hidden="false" aria-label="Settings"
            >shopping_cart</mat-icon
          >
        </span>
        <div class="box-content">
          <div class="box-text">Sale</div>
          <div class="box-number">678</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
